body{
  margin:0;
  background:#050505;
  color:#0ff;
  font-family:Arial;
  text-align:center;
}

header{
  background:#000;
  padding:15px;
  font-size:20px;
  border-bottom:2px solid #0ff;
}

.dj{
  display:flex;
  justify-content:space-around;
  padding:10px;
}

.deck{
  width:45%;
  border:1px solid #0ff;
  padding:10px;
  border-radius:10px;
  background:#0a0a0a;
}

canvas{
  width:100%;
  height:60px;
  background:#000;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:10px;
  background:#0ff;
  border:none;
  font-weight:bold;
}

.mixer{
  margin:20px;
}

input[type=range]{
  width:90%;
}
