body{
  margin:0;
  background:#0b0f1a;
  color:#fff;
  font-family:Arial;
}

.top{
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:#111;
  border-bottom:2px solid #0ff;
}

.track{
  color:#ff0;
  font-size:14px;
}

.time{
  color:#0ff;
}

.wavebars canvas{
  width:100%;
  height:60px;
  background:#000;
}

.dj-console{
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.panel{
  width:25%;
  background:#151a2c;
  border-radius:15px;
  padding:10px;
  box-shadow:0 0 20px #00faff;
}

.fx, .eq-btn{
  background:linear-gradient(45deg,#00faff,#8a2be2);
  border:none;
  padding:10px;
  color:#fff;
  border-radius:10px;
  margin-bottom:10px;
}

.knob{
  width:90px;
  height:90px;
  border-radius:50%;
  border:4px dotted #ffcc00;
  margin:10px auto;
  box-shadow:0 0 15px #ffcc00;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:10px;
}

.bass-btn{
  background:#ff9800;
  border:none;
  padding:10px;
  border-radius:8px;
  font-weight:bold;
}

.mixer{
  width:40%;
  background:#101420;
  border-radius:15px;
  padding:10px;
}

.vol{
  display:flex;
  justify-content:space-around;
}

.eq{
  display:flex;
  justify-content:space-between;
  margin-top:10px;
}

.eq input{
  writing-mode:bt-lr;
  transform:rotate(270deg);
}

.neon{
  height:180px;
  background:linear-gradient(#ff00ff,#00ffff);
  border-radius:10px;
  box-shadow:0 0 20px #ff00ff;
}

.bottom{
  display:flex;
  align-items:center;
  justify-content:space-around;
  background:#111;
  padding:10px;
  border-top:2px solid #0ff;
}

button{
  background:#222;
  color:#0ff;
  border:1px solid #0ff;
  padding:8px 12px;
  border-radius:6px;
}

#crossfader{
  width:40%;
}
